h1{
    color: white;
}

#conta{
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    line-height: 10px;
}

h1 #fluxo{
    color: rgb(175, 107, 175);
}

input{
    height: 60px;
    width: 500px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

button{
    height: 60px;
    width: 200px;
    margin: 10px auto;
    border-radius: 10px;
}