body {
    font-family: Arial;
    text-align: center;
    margin-top: 80px;
    background-color: black;
}

#fluxo {
    color: rgb(27, 200, 222);
}

input {
    display: block;
    margin: 8px auto;
    padding: 15px;
    width: 500px;
    background-color: black;
    color: white;
    border: 1px solid #555;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 15px;
    width: 215px;
    border-radius: 10px;

}

h1 {
    color: white;
    font-size: 50px;
}